#file-input {
    visibility: hidden;
    position: absolute;
}

.input-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#preview {
    width: 75%;
}

#classify-button {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#output-header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}